{% extends "app/base.html" %} {% block content %} {% if user.is_authenticated %}
<div class="col-md-9" style="margin-bottom: 40px; border: solid; border-width: 1px; border-radius: 10px; border-color: black;">
<h1>Mensagens</h1>
</div>
<div class="lista-amigos col-md-3" style="text-align: right;">
    
    {% for user in users %}
        <h1>{{ user.username }}</h1>
    {% endfor %}
</div>
{% else %}
<div class="col-md-12 container" style="text-align: center;">
    <h5>Favor realizar o <a class="" href="{% url 'login' %}">Login</a> para acessar o site, ou <a class=""
            href="{% url 'registro' %}">Cadastre-se</a> agora!</h5>
</div>
{% endif %} {% endblock content %}